.page-width {
	@apply ts:md:px-16! ts:px-6!;
}
.page-width-full {
	@apply ts:px-0!
} 
.text-align {
  text-align: var(--text-align);
}
.custom-section {
	@apply ts:xl:py-(--padding-xl) ts:lg:py-(--padding-lg) ts:md:py-(--padding-md) ts:py-(--padding-sm) ts:px-0 ts:overflow-hidden;
}
.button {
	@apply ts:text-xs ts:leading-none ts:md:min-w-70 ts:min-w-56 ts:border ts:border-[rgba(var(--color-foreground))] ts:hover:text-[rgba(var(--color-foreground))]! ts:hover:bg-[rgba(var(--color-background))]! ts:hover:after:shadow-none!;
}
.btn-text-only {
	@apply ts:text-sm! ts:uppercase ts:font-normal ts:inline ts:p-0 ts:bg-transparent ts:text-[rgba(var(--color-foreground))] ts:hover:font-bold ts:hover:underline ts:transition-all ts:duration-300 ts:ease-linear;
}
.button--secondary {
	@apply ts:after:shadow-none! ts:hover:bg-[rgba(var(--color-foreground))]! ts:hover:text-[rgba(var(--color-background))]!;
}
button, a, .button, .btn {
	@apply ts:transition-all ts:duration-300 ts:ease-linear;
}

/* Header */
header .header__menu-item {
	@apply ts:text-[rgba(var(--color-foreground))] ts:text-base ts:uppercase ts:font-semibold;
}
header .header__heading-link {
	@apply ts:p-0;
}
header .header__icons {
	@apply ts:pr-0 ts:gap-x-[0.7rem]
}
header  .header__icon .icon {
	@apply ts:w-6 ts:h-6;
}
header .header__icon--cart {
	@apply ts:mr-0;
}

swiper-slider .bordered-card .swiper-slide .card-wrapper .card__inner {
	border: 1px solid rgba(var(--color-secondary-button-text));
}
swiper-slider .swiper-slide .card-wrapper .card__information,
swiper-slider .swiper-slide .card-wrapper .card-information {
	text-align: var(--text-align);
}
swiper-slider {
	@apply ts:relative;
}
swiper-slider,
swiper-slider .swiper-controls {
	--swiper-theme-color: rgba(var(--color-foreground));
}
swiper-slider .swiper-controls .swiper-nav {
	@apply ts:lg:w-10 ts:lg:h-10 ts:w-6 ts:h-6 ts:z-2 ts:absolute ts:top-1/2 ts:-translate-y-1/2;
}
swiper-slider .swiper-controls .swiper-nav.swiper-button-next {
	@apply ts:rotate-180
}
swiper-slider .swiper-controls .swiper-button-next.swiper-button-disabled,
swiper-slider .swiper-controls .swiper-button-prev.swiper-button-disabled {
	@apply ts:opacity-20
}
swiper-slider .swiper-controls .swiper-button-prev {
	@apply ts:left-0
}
swiper-slider .swiper-controls .swiper-button-next {
	@apply ts:right-8
}
swiper-slider .swiper-controls .swiper-button-next,
swiper-slider .swiper-controls .swiper-button-prev {
	@apply ts:after:content-[""]
}
swiper-slider.grid-view .swiper-controls {
	@apply ts:hidden;
}
swiper-slider.grid-view .swiper-wrapper {
	@apply ts:grid! ts:grid-cols-2 ts:gap-x-4 ts:gap-y-10;
}
swiper-slider .swiper-center-mode .swiper-slide {
	@apply ts:transition-all ts:duration-300;
}
swiper-slider:not(.grid-view) .swiper-center-mode .swiper-slide:not(.swiper-slide-active) {
	@apply ts:opacity-50;
}
swiper-slider .swiper-scrollbar.swiper-scrollbar-horizontal {
	@apply ts:w-full ts:h-0.5 ts:rounded-none ts:left-0 ts:-bottom-10 ts:bg-[#F5F5F5];
}
swiper-slider .swiper-scrollbar-drag {
	@apply ts:block ts:bg-gray ts:h-1 ts:-top-px ts:rounded-none;
}