.page-width {
	@apply ts:md:px-16! ts:px-6!;
}
.page-width-full {
	@apply ts:px-0!
} 
.text-align {
  text-align: var(--text-align);
}
.custom-section {
	@apply ts:xl:py-(--padding-xl) ts:lg:py-(--padding-lg) ts:md:py-(--padding-md) ts:py-(--padding-sm) ts:px-0 ts:overflow-hidden;
}
.button {
	@apply ts:text-sm ts:leading-none ts:md:min-w-70 ts:min-w-56 ts:border ts:border-[rgba(var(--color-foreground))] ts:hover:text-[rgba(var(--color-foreground))]! ts:hover:bg-[rgba(var(--color-background))]! ts:hover:after:shadow-none!;
}
.btn-text-only {
	@apply ts:text-sm! ts:uppercase ts:font-normal ts:inline ts:p-0 ts:bg-transparent ts:text-[rgba(var(--color-foreground))] ts:hover:underline ts:transition-all ts:duration-300 ts:ease-linear;
}
.button--secondary {
	@apply ts:after:shadow-none! ts:hover:bg-[rgba(var(--color-foreground))]! ts:hover:text-[rgba(var(--color-background))]!;
}
button, a, .button, .btn {
	@apply ts:transition-all ts:duration-300 ts:ease-linear;
}
.rte ul {
	@apply ts:list-disc;
}

/* Header */
.section-header.shopify-section-group-header-group {
	@apply ts:z-4;
}
header .header__menu-item {
	@apply ts:text-[rgba(var(--color-foreground))] ts:text-base ts:uppercase ts:font-semibold;
}
header .header__heading-link {
	@apply ts:p-0;
}
header .header__icons {
	@apply ts:pr-0 ts:min-[750px]:gap-x-[0.7rem]
}
header  .header__icon {
	@apply ts:max-[750px]:w-14;
}
header  .header__icon .icon {
	@apply ts:w-6 ts:h-6;
}
header .header__icon--cart {
	@apply ts:mr-0;
}
header header-drawer {
	@apply ts:min-[750px]:ml-5 ts:ml-2 ts:justify-self-auto;
}
header header-drawer .header__icon--summary {
	@apply ts:w-auto ts:flex ts:gap-x-[1.2rem] ts:no-underline ts:text-[1.1rem];
}
header header-drawer .header__icon--summary > span:last-of-type {
	@apply ts:w-6;
}
header .header__heading-logo {
	@apply ts:max-[750px]:w-44;
}
header header-drawer .menu-drawer__menu-item {
	@apply ts:py-[1.2rem] ts:px-[3.2rem] ts:text-base ts:font-light;
}
header header-drawer .menu-drawer__menu-item > .svg-wrapper {
	@apply ts:w-4;
}
header header-drawer .menu-drawer__submenu .menu-drawer__menu-item {
	@apply ts:py-2 ts:text-sm;
}
header  .header__icon span.topbadge {
	@apply ts:absolute ts:top-0 ts:right-0 ts:p-[0.6rem]! ts:max-h-[1.7rem];
}

/* Footer */
footer {
	@apply ts:border-t-0!;
}
footer .footer__content-bottom {
	@apply ts:hidden;
}
footer .footer__content-top.page-width {
	@apply ts:max-w-7xl;
}
footer .footer__blocks-wrapper {
	@apply ts:justify-between;
}
footer .footer__blocks-wrapper .footer-block.grid__item {
	@apply ts:w-auto ts:max-w-max ts:px-6;
}
footer .footer-block__heading {
	@apply ts:text-sm ts:mb-[1.2rem];
}
footer .footer-block__details-content .list-menu__item {
	@apply ts:text-[1.1rem] ts:leading-none ts:pb-[0.8rem] ts:font-light ts:text-[rgba(var(--color-foreground),.55)];
}

.badge {
	@apply ts:py-2 ts:px-[0.8rem] ts:text-[1.1rem] ts:font-light;
	--badge-corner-radius: 0.5rem;
}
.card.card--show-alt-img:hover .card__badge {
	@apply ts:hidden;
}

/* Custom sort */
.mobile-facets__sort {
	@apply ts:w-full;
}
.mobile-facets__sort .facet-filters__sort{
	@apply ts:flex ts:flex-wrap ts:items-center ts:p-0 ts:pt-[1.6rem] ts:w-full ts:gap-[0.8rem];
}
.mobile-facets__sort .facet-filters__sort li:first-of-type {
	@apply ts:basis-full;
}
.mobile-facets__sort .facet-filters__sort li {
	@apply ts:relative ts:flex-1 ts:basis-[calc(50%-0.8rem)];
}
.mobile-facets__sort .facet-filters__sort li input.filter-radio-button {
	-webkit-appearance: none;
	@apply ts:appearance-none ts:absolute ts:w-full ts:h-full ts:top-0 ts:left-0 ts:cursor-pointer;
}
.mobile-facets__sort .facet-filters__sort li label {
	@apply ts:block ts:text-sm ts:font-medium ts:p-[1.2rem] ts:text-center ts:text-[rgba(var(--color-foreground),0.6)] ts:border ts:border-solid ts:border-[rgba(var(--color-foreground),0.15)] ts:transition-all ts:duration-300 ts:ease-linear;
}
.mobile-facets__sort .facet-filters__sort li input[type="radio"]:checked ~ label {
	@apply ts:bg-[rgba(var(--color-foreground),0.08)];
}
.mobile-facets__main .active-facets,
.mobile-facets__main .active-facets .active-facets__button-wrapper {
	@apply ts:max-[990px]:m-0;
}
.mobile-facets__main .active-facets .active-facets__button-wrapper a {
	@apply ts:max-[990px]:px-0;
}

/* Product Page */
product-info .product--stacked .product__media-list {
	@apply ts:min-[1025px]:pl-16 ts:min-[1025px]:pr-[4.85rem];
}
product-info .product media-gallery .product__media-list {
	@apply ts:scrollbar-thin ts:scrollbar-thumb-[rgba(var(--color-foreground),0.4)]
}
product-info .product--stacked .product__media-item {
	@apply ts:max-w-full ts:w-full;
}
product-info .product__info-wrapper {
	@apply ts:min-[1025px]:pl-[clamp(clamp(3.2rem,4.581vw-1.496rem,7.3rem))];
}
product-info .product__info-container {
	@apply ts:max-w-full ts:min-[750px]:top-[calc(var(--header-height)+2rem)] ts:min-[750px]:max-h-[calc(100vh-var(--header-height))] ts:min-[750px]:overflow-y-auto ts:min-[750px]:scrollbar-thin ts:min-[750px]:pr-8 ts:min-[750px]:pb-16;
}
product-info .product__title {
	@apply ts:mt-[1.6rem] ts:mb-[1.2rem];
}
product-info .product__title > * {
	@apply ts:text-[clamp(1.4rem,0.342vw+1.144rem,1.8rem)];
}
product-info .price {
	@apply ts:text-base;
}
/* product-info:has(.klaviyo-bis-trigger) .price__badge-sold-out {
	@apply ts:hidden;
} */
product-info .product__info-container variant-selects {
	@apply ts:mb-0;
}
product-info .product__info-container .product-form {
	@apply ts:my-[1.2rem];
}
product-info .product__info-container .product-form__submit {
	@apply ts:text-[1.1rem] ts:tracking-normal;
}
product-info .product__info-container .product-form__submit[disabled] .svg-wrapper {
	@apply ts:hidden;
}
product-info .product__info-container .product-form--btn-wishlist:has(button:disabled) .klaviyo-bis-trigger {
	@apply ts:w-full! ts:mb-4!;
}
product-info .product__info-container .product__description {
	@apply ts:my-[1.2rem] ts:text-[1.1rem] ts:font-light;
}
product-info .product__info-container .product__description p:not(:last-of-type),
product-info .product__info-container .product__accordion .accordion__content > *:not(:last-of-type) {
	@apply ts:mb-[1.1rem]
}
product-info .product__info-container .product__accordion {
	@apply ts:mt-0;
}
product-info .product__info-container .product__accordion summary {
	@apply ts:py-[1.2rem];
}
product-info .product__info-container .product__accordion summary .accordion__title {
	@apply ts:text-[1.1rem];
}
product-info .product__info-container .product__accordion .accordion__content {
	@apply ts:p-0 ts:mb-[1.2rem];
}
product-info .product__info-container .product__accordion .accordion__content > * {
	@apply ts:text-[1.1rem] ts:font-light;	
}
product-info .product__info-container .product__accordion .svg-wrapper {
	@apply ts:w-[1.1rem] ts:h-[1.1rem] ts:m-0;
}

cart-drawer .cart-drawer-upsell product-form button[aria-disabled="true"] > span {
	@apply ts:opacity-0 ts:invisible;
}
cart-drawer .cart-drawer-upsell product-form button > .loading__spinner {
	@apply ts:left-1/2 ts:-translate-x-1/2;
}
cart-drawer .cart-upsell variant-selects select {
	@apply ts:text-[0.8rem] ts:text-[rgba(var(--color-foreground))] ts:py-[0.4rem] ts:pl-[0.8rem] ts:pr-[2.4rem] ts:m-0 ts:h-auto ts:focus:shadow-none ts:border;
}
cart-drawer .cart-upsell .product-form__input .select {
	@apply ts:after:shadow-none;
}
cart-drawer .cart-upsell variant-selects .product-form__input .svg-wrapper {
	@apply ts:right-[0.8rem] ts:w-[0.8rem];
}
cart-drawer.is-empty .cart-drawer {
	@apply ts:max-sm:w-full;
}